@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    padding-top: 80px;
}

.gallery img{
    width: 100%;
}

.gallerybody {
    width: 100%;
    height: 100vh;
    background-image: url(https://th.bing.com/th/id/R.74f9320899a7366f4672c602c5f83018?rik=ksKpOunST%2bYvTw&pid=ImgRaw&r=0);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* ALTERNATE BACKGROUNDS

.background {
    width: 100%;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/0e/68/9f/0e689f403231cc5c0b4a1571dc75ad59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.newsbackground {
    width: 100%;
    height: 100vh;
    background-image: url(https://1.bp.blogspot.com/-lcPhw7h8Mvs/XroAzRiXFSI/AAAAAAAAPUI/qEsRSTanu0Y3UGlemlAC4Il3lB_GYp4cgCLcBGAsYHQ/s1600/wallpaper-grey-simple-4k.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

*/

.newscontainer {
    padding: 200px 40px;
    text-align: center;
    color: white;
}

.newscontainer p {
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
}

#news {
    color: white;
    -webkit-text-stroke: 1px #fff;
}

body {
    background-color: black;
    color: #ffffff;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
}

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
}

.email-box i {
    background: #2f3542;
    width: 40px;
    line-height: 40px;
}

.tbox,.btn {
    border: none;
    outline: none;
}

.tbox {
    width: 0px;
    transition: 0.6s;
}

.email-box:hover > .tbox,.tbox:focus {
    width: 260px;
    padding: 0 10px;
}

.btn {
    background: #2f3542;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}

span {
    margin-top: 10px;
    display: block;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover:after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;   
}

.contentdoc {
    text-align: center;
    margin-top: 250px;

}

.contentdoc h1 {
    font-size: 70px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.contentdoc h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}               

/* BREAKPOINTS */

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

#check:checked~.icons #menu-icon {
    display: none;
}

.icons #close-icon {
    display: none;
}

#check:checked~.icons #close-icon {
    display: block;
}

.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
}

#check:checked~.navbar {
    height: 17.7rem;
}

.navbar a {
    display: block;
    font-size: 1.1rem 0;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
}

#check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }
}

@media (min-aspect-ratio: 16/9){
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video {
        width: auto;
        height: 100%;
    }
}
